*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    border-bottom: 1px solid black;
  }
  .header-h1{
    text-align: center;
    right: 50vh;
  }
  .header-h3{
    text-align: center;
    right: 50vh;  
  }
  main{
    width: 800px;
    margin: 0 auto;
  }
  
  aside{
    width: 180px;
    border: 1px solid black;
  }
  
  footer{
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  button{
    background-color: black;
    color: white;
    font-family: serif;
  }
  button:active{
    background-color: white;
    color: black;
  }

.botao{
  text-align: center;
}
.botao-aside{
  position: fixed;
  right: 0;
}
.botao:active{
  background-color: black;
  color: white;
}
aside:active{
  background-color: black;
  color: white;
}